<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>路达考勤管理系统</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/css/matrix-style.css"/>
    <link rel="stylesheet" href="lib/css/matrix-media.css"/>
    <link rel="stylesheet" href="lib/css/font-awesome.css"/>
    <link rel="stylesheet" href="lib/css/datepicker.css"/>
    <link rel="stylesheet" href="lib/css/uniform.css"/>
</head>
<body>

<div id="l-app">
    <l-brand></l-brand>
    <l-navigator>
        <l-drop-menu-btn id="userInfo" title="欢迎您" icon="icon icon-user">
            <l-drop-menu-item href="/login" icon="icon icon-reply" title="注销"></l-drop-menu-item>
        </l-drop-menu-btn>
    </l-navigator>
    <l-sidebar>
        <l-side-btn href="/index" icon="icon icon-home" title="首页"></l-side-btn>
        <l-side-btn href="/employee" icon="icon icon-group" title="员工管理"></l-side-btn>
        <l-side-btn href="/department" icon="icon icon-briefcase" title="部门管理"></l-side-btn>
        <l-side-btn href="/work" icon="icon icon-edit" title="考勤管理"></l-side-btn>
        <l-side-btn href="/buzz" icon="icon icon-plane" title="出差管理"></l-side-btn>
        <l-side-btn href="/leave" icon="icon icon-ambulance" title="请假管理"></l-side-btn>
        <l-side-btn href="/stat" icon="icon icon-bar-chart" title="数据统计"></l-side-btn>
        <l-side-btn href="#" icon="icon icon-cog" title="系统设置(功能暂未开放)"></l-side-btn>
    </l-sidebar>

    <l-content>
        <l-router slot="router" href="/index" title="首页" iscurrent="false"></l-router>
        <l-router slot="router" href="/buzz" title="出差管理" iscurrent="true"></l-router>
        <l-container>
            <l-tab-container>
                <l-tab-nav title="出差记录" isactive="true" href="#tab1" slot="nav"></l-tab-nav>
                <l-tab-nav title="出差申请" href="#tab2" slot="nav"></l-tab-nav>
                <l-tab-content id="tab1" isactive="true" slot="content">
                    <l-widget-container icon="icon icon-th" title="出差记录">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
                                <th>出差原因</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="leave:${buzzs}">
                                <td><input name="check" type="checkbox"/></td>
                                <td th:text="${leave.reason}">生病</td>
                                <td th:text="${leave.startStr}">2017-05-11 09：00</td>
                                <td th:text="${leave.endStr}">2017-05-11 09：00</td>
                                <td th:text="${leave.statusStr}">已批准</td>
                                <td class="center"><a th:onclick="${'accept('+leave.id+')'}"
                                                      style="margin-left: 10px;cursor:pointer">批准</a><a
                                        th:onclick="${'reject('+leave.id+')'}" style="margin-left: 10px;cursor:pointer">不批准</a><a
                                        th:onclick="${'delete1('+leave.id+')'}"
                                        style="margin-left: 10px;cursor:pointer">删除申请</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </l-widget-container>
                </l-tab-content>
                <l-tab-content id="tab2" slot="content">

                    <l-widget-container icon="icon icon-cog" title="出差申请">
                        <l-form>
                            <l-form-custom title="开始日期">
                                <input id="date1" type="text" data-date-format="yyyy-mm-dd" class="datepicker span6"/>
                            </l-form-custom>
                            <l-form-custom title="结束日期">
                                <input id="date2" type="text" data-date-format="yyyy-mm-dd" class="datepicker span6"/>
                            </l-form-custom>
                            <l-form-input title="出差原因" size="10" type="text" id="reason">

                            </l-form-input>
                        </l-form>

                        <l-form-btn-container>
                            <button onclick="add()" class="btn btn-success">提交申请</button>
                        </l-form-btn-container>

                    </l-widget-container>
                </l-tab-content>
            </l-tab-container>
        </l-container>
    </l-content>
</div>

<script src="lib/js/jquery.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="lib/js/jquery.dataTables.min.js"></script>
<script src="lib/js/matrix.tables.js"></script>
<script src="lib/js/bootstrap-colorpicker.js"></script>
<script src="lib/js/bootstrap-datepicker.js"></script>
<script src="lib/js/jquery.uniform.js"></script>
<script src="lib/js/matrix.js"></script>
<script src="lib/js/matrix.form_common.js"></script>
<script src="lib/js/select2.min.js"></script>
<script src="lib/js/vue.js"></script>
<script src="lib/js/component.js"></script>
<script>
    new Vue({
        el: '#l-app'
    })
</script>


<script th:inline="javascript">

    function add() {
        var json = {};
        var startDate = $("#date1").val()
        var endDate = $("#date2").val()
        var start = new Date(startDate).getTime();
        var end = new Date(endDate).getTime();
        if ($("#date1").val() == '' || $("#date2").val() == '' || $("#reason") == '') {
            alert("输入不能为空");
        }else if(start>end){
            alert("日期输入错误")
        } else {
            json.start = start;
            json.end = end;
            json.reason = $("#reason").val()
            json.type = 0
            json.userId = [[${userInfo.id}]]
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/api/schedules/buzz",
                data: JSON.stringify(json),
                dataType: "json",
                success: function (result) {
                    var obj = eval(result);
                    if (obj.code == 200) {
                        alert("设置成功!");
                        location.reload();
                    } else {
                        alert(obj.message);
                    }
                }
            });
        }
    }

    function accept(id) {
        if (confirm("确定要同意申请吗？")) {
            $.ajax({
                type: "PUT",
                contentType: "application/json",
                url: "/api/schedules/accept/" + id,
                success: function (result) {
                    var obj = eval(result);
                    if (obj.code == 200) {
                        alert("设置成功!");
                        location.reload();
                    } else {
                        alert(obj.message);
                    }
                }
            });
        }
    }


    function reject(id) {
        if (confirm("确定要同意申请吗？")) {
            $.ajax({
                type: "PUT",
                contentType: "application/json",
                url: "/api/schedules/reject/" + id,
                success: function (result) {
                    var obj = eval(result);
                    if (obj.code == 200) {
                        alert("设置成功!");
                        location.reload();
                    } else {
                        alert(obj.message);
                    }
                }
            });
        }
    }

    function delete1(id) {

        if (confirm("确定要删除申请吗？")) {
            $.ajax({
                type: "DELETE",
                contentType: "application/json",
                url: "/api/schedules/" + id,
                success: function (result) {
                    var obj = eval(result);
                    if (obj.code == 200) {
                        alert("删除成功!");
                        location.reload();
                    } else {
                        alert(obj.message);
                    }
                }
            });
        }

    }
</script>
</body>
</html>
