<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>路达考勤管理系统</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../lib/css/matrix-style.css"/>
    <link rel="stylesheet" href="../lib/css/matrix-media.css"/>
    <link rel="stylesheet" href="../lib/css/font-awesome.css"/>
</head>
<body>

<div id="l-app">
    <l-brand></l-brand>
    <l-navigator>
        <l-drop-menu-btn id="userInfo" title="欢迎您" icon="icon icon-user">
            <l-drop-menu-item href="/login" icon="icon icon-reply" title="注销"></l-drop-menu-item>
        </l-drop-menu-btn>
    </l-navigator>
    <l-sidebar>
        <l-side-btn href="/index" icon="icon icon-home" title="首页"></l-side-btn>
        <l-side-btn href="/employee" icon="icon icon-group" title="员工管理"></l-side-btn>
        <l-side-btn href="/department" icon="icon icon-briefcase" title="部门管理"></l-side-btn>
        <l-side-btn href="/work" icon="icon icon-edit" title="考勤管理"></l-side-btn>
        <l-side-btn href="/buzz" icon="icon icon-plane" title="出差管理"></l-side-btn>
        <l-side-btn href="/leave" icon="icon icon-ambulance" title="请假管理"></l-side-btn>
        <l-side-btn href="/stat" icon="icon icon-bar-chart" title="数据统计"></l-side-btn>
        <l-side-btn href="#" icon="icon icon-cog" title="系统设置(功能暂未开放)"></l-side-btn>
    </l-sidebar>

    <l-content>
        <l-router slot="router" href="/index" title="首页" iscurrent="false"></l-router>
        <l-router slot="router" href="/department" title="部门管理"></l-router>
        <l-router slot="router" href="#" title="新增部门" iscurrent="true"></l-router>
        <l-container>
            <l-widget-container title="新增部门" icon="icon icon-edit">
                <l-form>
                    <l-form-input id="name" type="text" size="10" title="部门名称"></l-form-input>
                    <l-form-input id="desc" type="text" size="10" title="部门描述"></l-form-input>
                </l-form>
                <l-form-btn-container>
                    <button onclick="addDepartment()" class="btn btn-success">创建部门</button>
                </l-form-btn-container>
            </l-widget-container>
        </l-container>

    </l-content>
</div>


<script src="../lib/js/jquery.min.js"></script>
<script src="../lib/js/bootstrap.min.js"></script>
<script src="../lib/js/matrix.js"></script>
<script src="../lib/js/vue.js"></script>
<script src="../lib/js/component.js"></script>
<script src="../lib/js/select2.min.js"></script>
<script src="../lib/js/matrix.form_common.js"></script>
<script>
    new Vue({
        el: '#l-app'
    })
    function addDepartment() {
        var json = {};
        json.name = $("#name").val();
        json.desc = $("#desc").val();
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/api/departments",
            data: JSON.stringify(json),
            dataType: "json",
            success: function (result) {
                var obj = eval(result);
                if (obj.code == 200) {
                    alert("新增部门成功!");
                } else {
                    alert(obj.message);
                }
            }
        });
    }
</script>
</body>
</html>
