<!DOCTYPE html>
<html lang="en">
<head>
    <title>路达考勤管理系统</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./lib/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="./lib/css/matrix-login.css"/>
    <link href="./lib/css/font-awesome.css" rel="stylesheet"/>
</head>
<body>
<div id="loginbox">
    <form id="loginform" class="form-vertical" action="/login" method="post">
        <div class="control-group normal_text"> <h3>路达考勤管理系统</h3></div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"></i></span><input id="username" type="text" placeholder="Email"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span><input id="password" type="password" placeholder="密码"/>
                </div>
            </div>
        </div>
    </form>
    <div class="form-actions">
        <span class="pull-right"><a onclick="login()" style="cursor: pointer" class="btn btn-success">登录</a></span>
    </div>
</div>

<script src="./lib/js/jquery.min.js"></script>
<script src="./lib/js/matrix.login.js"></script>
<script type="text/javascript">
    function login() {
        var username = $("#username").val();
        var password = $("#password").val();
        var json = {};
        json.email = username;
        json.password = password;
        $.ajax({
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(json),
            dataType: "json",
            url: "/api/login",
            success: function (result) {
                var obj = eval(result);
                if (obj.code == 200) {
                    location.href = "/index";
                } else {
                    alert(obj.message);
                }
            }
        });
    }
</script>
</body>
</html>