<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>路达考勤管理系统</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/css/matrix-style.css"/>
    <link rel="stylesheet" href="lib/css/matrix-media.css"/>
    <link rel="stylesheet" href="lib/css/font-awesome.css"/>
    <link rel="stylesheet" href="lib/css/uniform.css"/>
</head>
<body>

<div id="l-app">
    <l-brand></l-brand>
    <l-navigator>
        <l-drop-menu-btn id="userInfo" title="欢迎您" icon="icon icon-user">
            <l-drop-menu-item href="/login" icon="icon icon-reply" title="注销"></l-drop-menu-item>
        </l-drop-menu-btn>
    </l-navigator>
    <l-sidebar>
        <l-side-btn href="/index" icon="icon icon-home" title="首页"></l-side-btn>
        <l-side-btn href="/employee" icon="icon icon-group" title="员工管理"></l-side-btn>
        <l-side-btn href="/department" icon="icon icon-briefcase" title="部门管理"></l-side-btn>
        <l-side-btn href="/work" icon="icon icon-edit" title="考勤管理"></l-side-btn>
        <l-side-btn href="/buzz" icon="icon icon-plane" title="出差管理"></l-side-btn>
        <l-side-btn href="/leave" icon="icon icon-ambulance" title="请假管理"></l-side-btn>
        <l-side-btn href="/stat" icon="icon icon-bar-chart" title="数据统计"></l-side-btn>
        <l-side-btn href="/system" icon="icon icon-cog" title="系统设置"></l-side-btn>
    </l-sidebar>

    <l-content>
        <l-router slot="router" href="/index" title="首页" iscurrent="false"></l-router>
        <l-router slot="router" href="/system" title="系统设置" iscurrent="true"></l-router>
        <l-container>
            <l-widget-container title="系统设置" icon="icon icon-calendar">

                <l-container>
                    <l-notification color="red" title="系统初始化后，会保留一个超级管理员账号，用户名123456@qq.com，密码123456"></l-notification>
                    <ul class="quick-actions">
                        <li class="bg_lo"><a onclick="initialization()"><i class="icon icon-refresh"></i>系统初始化</a></li>
                        <li class="bg_lb"><a onclick="backup()"><i class="icon icon-cloud-upload"></i>系统备份</a></li>
                    </ul>
                </l-container>
            </l-widget-container>

        </l-container>
    </l-content>
</div>


<script src="lib/js/jquery.min.js"></script>
<script src="lib/js/jquery.uniform.js"></script>
<script src="lib/js/jquery.dataTables.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="lib/js/matrix.js"></script>
<script src="lib/js/matrix.tables.js"></script>
<script src="lib/js/vue.js"></script>
<script src="lib/js/component.js"></script>
<script th:inline="javascript">
    new Vue({
        el: '#l-app'
    })
    function initialization() {
        if (confirm("确定要初始化系统吗？")) {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/api/init" ,
                success: function (result) {
                    var obj = eval(result);
                }
            });
        }
        location.href = "/login";
    }
    function backup() {
        
    }
</script>
</body>
</html>
